$text-color: #444;

$background: #222;
$element-background: #fff;
$input-background: #fff;

$accent1: #444;
$accent2: #555;

$accent-color: #2cf;

$column-spacing: 0;
$roll-width: 20rem;

html {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 55rem;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

body {
  font-family: "Source Sans Pro", san-serif;
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: $background;
  color: $text-color;
}

$input-padding-size: 0.3rem;
input {
  text-align: center;
  padding: $input-padding-size;
  margin: 0;
  border: none;
  background: $input-background;
  color: #fff;
  width: 100%;
  line-height: 1.2rem;
  vertical-align: middle;
}

$text-focus-border-size: 0.2rem;
$text-focus-padding: $input-padding-size 0 ($input-padding-size - $text-focus-border-size) 0;

input[type="text"] {
  background: $input-background;
  font-style: italic;
  color: #999;
  padding: $input-padding-size 0;
}

input[type="text"].changed {
  font-style: normal;
  color: #222;
  border: none;
  border-bottom: #bbb solid $text-focus-border-size;
  padding: $text-focus-padding;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: $accent-color solid $text-focus-border-size;
  padding: $text-focus-padding;
}

input[type="submit"] {
  background: $accent1;
  font-size: 0.8rem;
}

input[type="submit"]:hover {
  background: $accent2;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
th,
input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

h2,
h3 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0 0 0;
}

h3 {
  clear: both;
  font-size: 1.25rem;
  padding: 1.5rem 0 1.25rem 0;
}

h4 {
  text-align: center;
  padding: 0 0 0 0;
}

th {
  font-size: 0.8rem;
  background: $accent1;
  color: #fff;
  padding: 0.5rem;
}

td {
  $border-style: #ccc 1px solid;
  border-top: $border-style;
  border-bottom: $border-style;
}

td.damaged {
  color: #fff;
  background: #e5d69a;
}

td.dead {
  color: #fff;
  background: #e59a9a;
}

div#encounter {
  min-height: 100%;
  margin-right: $roll-width + 1rem;
  padding: 1rem;

  td.damageAmount {
    width: 6rem;
  }

  input[type="submit"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  table {
    width: 100%;
    background: $element-background;
  }
}

div#roll {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  width: $roll-width;
  right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $element-background;

  ul.roll-buttons {
    list-style-type: none;
    margin: 0;
  }

  ul.roll-buttons:after {
    clear: both;
  }

  ul.roll-buttons input[type="submit"] {
    display: block;
    float: left;
    text-align: center;
    width: $roll-width / 3;
    padding: 1em 0;
    margin: 0;
    border: none;
  }

  ul.previous-rolls {
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    list-style-type: none;
  }

  input#submit-custom {
    margin: 0 0 0.5rem 0;
  }
}
