$text-color: #446575;

$background: #d8ebf4;
$element-background: #f2fbff;
$input-background: #fff;

$accent1: #66aacc;
$accent2: #77bbdd;
$accent3: #456875;

$column-spacing: 0;
$roll-width: 20rem;

html {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 55rem;

  font-size: 12pt;
  line-height: 1.5;
  text-align: center;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: $background;
  color: $text-color;
}

input {
  text-align: center;
  padding: 0.25rem;
  margin: 0;
  border: none;
  background: $input-background;
  color: #fff;
  width: 100%;
}

input[type="text"] {
  background: $input-background;
  color: $accent1;
  padding: 0.25rem 0;
}

input[type="text"].default {
  color: $accent2;
  font-style: italic;
}

input[type="submit"] {
  background: $accent1;
}

input[type="submit"]:hover {
  background: $accent2;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  clear: both;
  font-weight: bold;
}

h2,
h3 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0 0 0;
}

h3 {
  clear: both;
  font-size: 1.25rem;
  padding: 1.5rem 0 1.25rem 0;
}

h4 {
  text-align: center;
  padding: 0 0 0 0;
}

th {
  font-weight: bold;
  background: $accent1;
  color: #fff;
  padding: 0.5rem;
}

td {
  $border-style: $element-background 0.1rem solid;
  border-top: $border-style;
  border-bottom: $border-style;
}

td.input {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

td.damaged {
  color: #fff;
  background: #e5d69a;
}

td.dead {
  color: #fff;
  background: #e59a9a;
}

div#encounter {
  min-height: 100%;
  margin-right: $roll-width + 1rem;
  padding: 1rem;

  table {
    width: 100%;
    background: $element-background;
  }

  input[type="text"]#damageAmount {
    width: 3.5rem;
  }
}

div#roll {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  width: $roll-width;
  right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $element-background;

  ul.roll-buttons {
    list-style-type: none;
    margin: 0;
  }

  ul.roll-buttons:after {
    clear: both;
  }

  ul.roll-buttons input[type="submit"] {
    display: block;
    float: left;
    text-align: center;
    width: $roll-width / 3;
    padding: 1em 0;
    margin: 0;
    border: none;
  }

  ul.previous-rolls {
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    list-style-type: none;
  }

  input#submit-custom {
    margin: 0 0 0.5rem 0;
  }
}