{{define "BodyContent"}}
<h1>Choose Party</h1>
<ul>
    {{range .}}
        <li><form method="post" action="{{.URL}}">
            {{redirectURIInput}}
            <input type="submit" value="{{.Name}}" />
        </li></form>
    {{end}}
</ul>
<form method="post">
    {{redirectURIInput}}
    <input type="text" id="partyName" name="partyName" />
    <input type="submit" value="New Party" />
</form>
{{end}}