{{define "BodyContent"}}
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Min</th>
        <th>Rolled</th>
        <th>Max</th>
        <th>Damage Taken</th>
        <th />
        <th />
    </tr>
    <tr>
        <form method="post" action="/encounter/">
            {{redirectURIInput}}
            <td class="input"><input type="text" id="creatureType" name="creatureType" value="{{.NextCreatureTypeName}}" /></td>
            <td class="input"><input type="text" id="creatureName" name="creatureName" /></td>
            <td class="input" colspan="3"><input type="text" id="creatureHitDice" name="creatureHitDice" value="{{.NextCreatureHitDice}}" /></td>
            <td class="input"><input type="submit" value="Add" /></td>
            <td />
            <td />
        </form>
    </tr>
    {{range .CreatureInformation}}
    <tr>
        <td>{{.Type}}</td>
        <td>{{.Name}}</td>
        <td class="{{.MinHealthClass}}">{{.MinHealth}}</td>
        <td class="{{.RolledHealthClass}}">{{.RolledHealth}}</td>
        <td class="{{.MaxHealthClass}}">{{.MaxHealth}}</td>
        <td>{{.DamageTaken}}</td>
        <form method="post" action="{{.DamageURL}}">
            {{redirectURIInput}}
            <td><input type="text" id="damageAmount" name="damageAmount" value="" /></td>
            <td><input type="submit" value="💥" /></td>
        </form>
    </tr>
    {{end}}
</table>
{{end}}
