{{define "BodyContent"}}
<div class="content">
    <table>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Min</th>
            <th>Rolled</th>
            <th>Max</th>
            <th>Damage Taken</th>
        </tr>
        <tr>
            <form method="post">
                <td><input type="text" id="creatureType" name="creatureType" value="{{.NextCreatureTypeName}}" /></td>
                <td><input type="text" id="creatureName" name="creatureName" /></td>
                <td colspan="3"><input type="text" id="creatureHitDice" name="creatureHitDice" value="{{.NextCreatureHitDice}}" /></td>
                <td><input type="submit" value="Add" /></td>
            </form>
        </tr>
        {{range .CreatureInformation}}
        <tr>
            <td>{{.Type}}</td>
            <td>{{.Name}}</td>
            <td class="{{.MinHealthClass}}">{{.MinHealth}}</td>
            <td class="{{.RolledHealthClass}}">{{.RolledHealth}}</td>
            <td class="{{.MaxHealthClass}}">{{.MaxHealth}}</td>
            <td>{{.DamageTaken}}</td>
            <form method="post" action="{{.DamageURL}}">
                <td><input type="text" id="damageAmount" name="damageAmount" value="" /></td>
                <td><input type="submit" value="Damage" /></td>
            </form>
        </tr>
        {{end}}
    </table>
</div>
{{end}}
