{{define "BodyContent"}}
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>HP</th>
        <th>
        <th>
        <th>
    </tr>
    <tr>
        <form method="post" action="/encounter/new-creature">
            {{redirectURIInput}}
            <td class="input"><input type="text" id="creatureType" name="creatureType" value="{{.NextCreatureTypeName}}" /></td>
            <td class="input"><input type="text" id="creatureName" name="creatureName" /></td>
            <td class="input"><input type="text" id="creatureHitDice" name="creatureHitDice" value="{{.NextCreatureHitDice}}" /></td>
            <td class="input" colspan="3"><input type="submit" value="Add" /></td>
        </form>
    </tr>
    <form method="post" action="/encounter/damage">
        {{redirectURIInput}}
        {{range .CreatureInformation}}
        <tr>
            <td>{{.Type}}</td>
            <td>{{.Name}}</td>
            <td class="{{.CurrentHealthClass}}">{{.CurrentHealth}} / {{.MaxHealth}}</td>
            <td class="damageAmount"><input type="text" name="{{.DamageName}}" value="Amount" /></td>
            <td><input type="submit" value="💥" /></td>
            <td><input formaction="{{.DeleteURL}}" type="submit" value="🗑️" /></td>
        </tr>
        {{end}}
    </form>
</table>
</form>
{{end}}
