{{define "BodyContent"}}
<form method="post" action="/initiative">
{{redirectURIInput}}
<table>
    <tr>
        <th>Initiative</th>
        <th>Value/Modifier</th>
        <th />
    </tr>
    <tr>
        <td><input type="text" name="newPlayerName" value="New Player" /></td>
        <td><input type="text" name="newPlayerInitiative" /></td>
        <td><input type="submit" value="➕" /></td>
    </tr>
    {{range .PlayerInformation}}
    <tr>
        <td>{{.Name}}</td>
        <td><input type="text" name="{{.InputName}}" value="{{.Value}}" /></td>
    </tr>
    {{end}}
    <tr>
        <td><input type="text" name="creatureName" value="New Creature" /></td>
        <td><input type="text" name="creatureInitiative" /></td>
        <td><input type="submit" value="➕" /></td>
    </tr>
</form>
{{end}}