{{define "BodyContent"}}
<div id="toolbar">
<form method="post" action="/undo">
    {{redirectURIInput}}
    <input type="submit" value="Undo" {{.UndoDisabled}} />
</form>
<form method="post" action="/redo">
    {{redirectURIInput}}
    <input type="submit" value="Redo" {{.RedoDisabled}} />
</form>
</div>

<div id="encounter">
{{template "EncounterBodyContent" .EncounterData}}
</div>

<div id="initiative">
{{template "InitiativeBodyContent" .InitiativeData}}
</div>

<div id="roll">
{{ template "RollBodyContent" .DiceData }}
</div>
{{end}}