{{define "HeadContent" }}
{{ template "RollHeadContent" .DiceData }}
{{end}}

{{define "BodyContent"}}
<div id="encounter">
{{template "EncounterBodyContent" .EncounterData}}
</div>

<div id="roll">
{{ template "RollBodyContent" .DiceData }}
</div>
{{end}}