<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll!</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/style-all.css" />
    <link rel="stylesheet" href="/static/style-roll.css" />
    <script type="text/javascript">
    function clearCustomRollDefault() {
        if (document.customRollForm.roll.value == "Custom Roll") {
            document.customRollForm.roll.value = "";
        }
        if (document.customRollForm.roll.value != "Custom Roll") {
            document.customRollForm.roll.className = "";
        }
    }
    function restoreCustomRollDefault() {
        if (document.customRollForm.roll.value == "") {
            document.customRollForm.roll.value = "Custom Roll";
            document.customRollForm.roll.className = "default";
        }
    }
    function setup() {
        document.customRollForm.roll.onclick = clearCustomRollDefault;
        document.customRollForm.roll.onblur = restoreCustomRollDefault;
        clearCustomRollDefault();
    }
    document.addEventListener("DOMContentLoaded", setup, false);
    </script>
</head>
<body>
<div class="content">
    <ul class="roll-buttons">
        <form action="/roll" method="post">
        <li><input id="submit-d4" type="submit" name="roll" value="d4"></li>
        <li><input id="submit-d6" type="submit" name="roll" value="d6"></li>
        <li><input id="submit-d8" type="submit" name="roll" value="d8"></li>
        <li><input id="submit-d10" type="submit" name="roll" value="d10"></li>
        <li><input id="submit-d12" type="submit" name="roll" value="d12"></li>
        <li><input id="submit-d20" type="submit" name="roll" value="d20"></li>
        </form>
    </ul>
    <form name="customRollForm" action="/roll" method="post">
        <input id="roll" type="text" name="roll" value="{{ .LastCustomRoll }}" class="default">
        <input id="submit-custom" type="submit" name="roll-custom" value="Roll!">
    </form>
    {{if .HasResult }}
        <h4>{{ .LastRoll.DiceRolled }} = {{ .LastRoll.StringSimulatedResults }} =</h4>
        <h1>{{ .LastRoll.Sum }}</h1>
    {{end}}
    <ul class="previous-rolls">
    {{range $index := .OlderRolls}}
        <li>{{ .DiceRolled }} = {{ .StringSimulatedResults }} = {{ .Sum }}</li>
    {{end}}
    </ul>
</div>
</body>
</html>
